* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #0000002f;
    padding: 2em;
    border-radius: 12px;
    border-top: medium solid blue;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.form-input {
    padding: 1em .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.form-input > input {
    padding: .5em 1em;
    outline: none;
    border-radius: 4px;
    border: 1px solid #0000002f;
}

.form-input > input:focus {
    border: 1px solid lightblue;
    outline: 2px solid lightblue;
}

input[type='submit'] {
    justify-self: start;
    padding: .8em 1.5em;
    border: none;
    background: linear-gradient(to right, magenta, blue);
    border-radius: 4px;
    color: white;
    font-size: 14px;
}