{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
    <form method="post">
    {% csrf_token %}
    <div class="form-input">
        <label for="password">Password</label>
        <input type="password" name="password" title="password">
    </div>
    <div class="form-input">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" title="confirm">
    </div>
    <input type="submit" value="Reset Password">
</form>
</div>
</div>
{% endblock %}